* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'serif', Arial, Helvetica, sans-serif;
}

body {
  font-size: 1rem;
}

a {
  text-decoration: none;
}

.scrollable-nav {
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: rgb(199, 195, 189);
}

.nav-bar-left {
  float: left;
}

.nav-bar-right {
  float: right;
}

.top-nav-bar ul {
  display: flex;
  justify-content: space-between;
}

.top-nav-bar ul li {
  list-style-type: none;
  margin: 0.5em 1em;
  font-size: 0.8rem;
}

.top-nav-bar ul li:hover {
  color: white;
  cursor: pointer;
}

.search-container {
  float: right;
}

.unscrollable-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(243, 239, 233);
  color: rgb(119, 118, 116);
  height: 3em;
  font-size: .8rem;
}
.unscrollable-nav ul {
  display: flex;
  justify-content: space-between;
}
.unscrollable-nav ul li {
  list-style-type: none;
  margin: 0.5em 1em;
}

.unscrollable-nav li:hover {
  color: black;
  cursor: pointer;
}

.hamburger-menu {
  display: flex;
  flex-direction: column;
  background-color: #fd3;
  color: black;
  justify-content: center;
  font-size: 0.8rem;
  height: 2rem;
}
.hamburger-menu a {
  color: black;
  margin-left: 1em;
}

.heroes {
  display: flex;
  max-width: 1500px;
  width: 100%;
  height: 20em;
  justify-content: space-evenly;
  margin: 0.2em auto;
}

.hero-1 {
  width: 65%;
}
.hero-1 img {
  height: 100%;
  width: 100%;
}
.wrapper {
  display: flex;
  width: 33%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.hero-2 {
  height: 49%;
  width: 100%;
}
.hero-2 img {
  height: 100%;
  width: 100%;
}
.hero-3 {
  height: 49%;
  width: 100%;
}
.hero-3 img {
  height: 100%;
  width: 100%;
}
